
<h2>{{ post.title }}</h2>

<div class="mb-5">
    <label for="newComment">New Comment </label>
    <input name="newComment" id="newComment" type="text" [(ngModel)]="newCommentContent" placeholder="Comment">
    <label for="newCommentAuthor">Author </label>
    <input name="newCommentAuthor" id="newCommentAuthor" type="text" [(ngModel)]="newCommentAuthor" placeholder="Author">
    <div>
        <button (click)="sendComment()" class="btn btn-outline-secondary">Send</button>
        <button type="button" (click)="goBack()" class="btn btn-outline-dark">go back</button>
    </div>

    <div *ngIf="!isFormReady">
        <div class="notPopulated">All fields must be populated</div>
    </div>
</div>

<div *ngIf="!hasToken">
    <div class="notPopulated">The user must be registered to be able to post</div>
</div>

<div *ngIf="post?.comments">
    <div *ngFor="let comment of post?.comments">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <app-comment [comment]="comment"></app-comment>
            </div>
        </div>
    </div>
</div>



